{% extends 'base.html' %}
{% block title %}Ch-ch-ch-changes{% endblock %}
{% block extra_styles %}{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    {% set fields = grouped_records._cursor_description() %}
                    <th>Change Count</th>
                    {% for field in fields %}
                        {% if field.name != 'Change Count' %}
                            <th>{{ field.name }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in grouped_records %}
                    <tr>
                        {% set record_id = record|attr('Record ID') %}
                        <td><a href="{{ url_for('views.detail', record_id=record_id ) }}">{{ record|attr('Change Count') }}</a></td>
                        {% for field in fields %}
                            {% if field.name != 'Change Count' %}
                                <td>{{ record|attr(field.name) }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block extra_javascript %}{% endblock %}
