{% extends 'base.html' %}
{% from 'macros.html' import pager %}
{% block title %}Ch-ch-ch-changes{% endblock %}
{% block extra_styles %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Change Count</th>
                    {% for field in fields %}
                        {% if field != 'Change Count' %}
                            <th>{{ field }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>Changed fields</th>
                </tr>
            </thead>
            <tbody>
                {% for record in grouped_records %}

                    {% if "IUCR Code" in record['diff_fields'] %}
                        <tr class="danger">
                    {% else %}
                        <tr>
                    {% endif %}
                        {% set record_id = record['Record ID'] %}
                        <td><a href="{{ url_for('views.detail', record_id=record_id ) }}">{{ record['Change Count'] }}</a></td>
                        {% for field in fields %}
                            {% if field != 'Change Count' %}
                                <td>{{ record[field] }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            {{ record['diff_fields']|join(', ') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      {{ pager(request.args.get('page', 1)|int, page_count|int, request.path) }}
    </div>
</div>
{% endblock %}
{% block extra_javascript %}{% endblock %}
